* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  margin: 0 16px;
  color: #000000;
  background-color: #ddefff;
  font-family: 'Poppins', sans-serif;
}

.todo-list {
  max-width: 600px;
  min-height: 400px;
  margin: 8vh auto;
  padding: 0 0 24px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  background-color: #f0f8ff;
}

.title {
  position: relative;
  padding: 20px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  font-size: 4rem;
  color: #ffffff;
  background-color: #6495ed99;
}